{% macro renderStates(states, byLine="By Total") %}
  <tr>
    <td class="header"></td>
    <td class="header">{{ byLine }}</td>
    <td class="header">Cases</td>
    <td class="header">Deaths</td>
  </tr>
  {% for state in states.states %}
    <tr class="{{ 'highlight' if state.highlight }}">
      {% if state.ellipses %}
        <td class="center" colspan="4">. . .</td>
      {% else %}
        {% if state.rankDelta == 0 %}
          <td class="rank-even fa fa-fw fa-minus-circle"></td>
        {% elif state.rankDelta and state.rankDelta > 0 %}
          <td class="rank-up fa fa-fw fa-arrow-circle-up">{{ state.rankDelta|abs }}</td>
        {% else %}
          <td class="rank-down fa fa-fw fa-arrow-circle-down">{{ state.rankDelta|abs }}</td>
        {% endif %}
        <td class="state">{{ state.rank }}. {{ state.name }}</td>
        <td class="number">{{ state.total }}</td>
        <td class="number deaths">{{ state.deaths }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td class="state">Totals</td>
    <td class="number">{{ states.total }}</td>
    <td class="number deaths">{{ states.deaths }}</td>
  </tr>
{% endmacro %}

<table class="covid">
  {{ renderStates(byTotal) }}

  {{ renderStates(byNew, byLine="By New") }}

  <tr>
    <td class="center last-update" colspan="4">Last updated: {{ updated }}</td>
  </tr>
</table>